<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/cabinbulma.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/favicon/site.webmanifest">
    <script src="https://kit.fontawesome.com/c702fb8f68.js" crossorigin="anonymous"></script>
</head>