<header class="header">
    <nav class="navbar is-spaced is-primary is-size-4" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="{{ site.baseurl }}/" class="navbar-item">
                    <img src="{{ site.baseurl }}/assets/images/wolpi_with_circle.png" height="48px" width="48px">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navigation_menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="navigation_menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ site.baseurl }}/">
                        Home
                    </a>

                    <div class="navbar-item is-hoverable has-dropdown">
                        <a href="{{ site.baseurl }}/events_list.html" class="navbar-link">
                            Hütt'njahre
                        </a>

                        <div class="navbar-dropdown">
                            {% assign year = 0 %}
                            {% for post in site.posts reversed %}
                                {% assign currentyear = post.date | date: "%Y" %}
                                {% if currentyear != year %}
                                {% unless forloop.first %}
                                <hr class="navbar-divider">
                                {% endunless %}
                                <a href="{{ post.url }}" class="navbar-item is-fullwidth">{{ currentyear}} - {{ post.title }}</a>
                                {% assign year = currentyear %}
                                {% else %}
                                <a href="{{ post.url }}" class="navbar-item is-fullwidth">{{ currentyear}} - {{ post.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if page.layout == 'post' %}
                                {% if page.allowSignup %}
                                <a href="{{ page.link2signup }}" class="button is-primary is-light" target="_blank" rel="noopener noreferrer">
                                    <span class="icon">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                    <span><strong>Sign up</strong></span>
                                </a>
                                {% else %}
                                <button class="button is-primary is-light" disabled>
                                    <span class="icon">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                    <span><strong>Sign up</strong></span>
                                </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>